

<div class="topnav">
  <!-- <a class="active" [routerLink]="['/chat']">Chat</a> -->
 <a ng-class="{active: true, new: active === 'new'}"  [routerLink]="['/chat']">Chat1111</a>
  <a [routerLink]="['/inbox']">Inbox</a>
  <a [routerLink]="['/invitefriends']">Invite Friends</a>
  <!-- <input type="text" placeholder="Search.."> -->
  <!-- <img src="../../assets/images/mahesh-babu-new-photos-feature-image-2dOlvuKIKIs2gmCQkw0e8O.jpg" alter="right" alt="Avatar" class="right" style="width:3%;"> -->
  
</div>









