<app-header></app-header>
<!--<h2>Chat Messages</h2>
<div *ngFor = "let chat of chat_box">
  <div class="container" *ngIf="chat.from_user == user">
    <img [src]="chat.img" alt="Avatar" style="width:100%;">
    <p>{{chat.msg}}</p>
    <span class="time-right">{{chat.date}}</span>
  </div>
  <div class="container darker"  *ngIf="chat.to_user == user">
    <img [src]="chat.img" alt="Avatar" class="right" style="width:100%;">
    <p>{{chat.msg}}</p>
    <span class="time-left">{{chat.date}}</span>
  </div>
  
</div>
<div *ngIf="chat_box.length">
  <input class="textarea" type="text" placeholder="Type here!" name="msg" [(ngModel)]="msg"/>
</div>
<div *ngIf="chat_box.length">
  <button class="textarea" type="submit" (click)="submit()"> SUBMIT </button>
</div>

<div class="container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" name = "searchText" [(ngModel)]="searchText"/>
      <i class="fa fa-search"></i>
    </div>
    <ul class="list" *ngFor="let data of users  | filter : searchText">
      <li class="clearfix" *ngIf="data.user!=user">
        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" /> -->
<!-- <div class="about">
          <div class="name"><a href="javascript:;" (click)="get_user(data.user)">{{data.user}}</a> </div>
          <div class="status">
          </div>
        </div>
      </li>
    </ul>
  </div>

</div> -->








<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Whatsapp Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  <!-- Font Awesome File -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container app">
    <div class="row app-one">

      <div class="col-sm-4 side">
        <div class="side-one">
          <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg">
              </div>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
              <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" placeholder="Search" name="searchText" [(ngModel)]="searchText" />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="row sideBar" *ngFor="let data of users  | filter : searchText">
            <div class="row sideBar-body" *ngIf="data.user!=user"  (click)="get_user(data.user)" [style.color] = "to_user == data.user ? 'blue' : 'green'" >
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">{{data.user}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <!-- New Message Sidebar End -->

      <!-- Conversation Start -->
      <div class="col-sm-8 conversation">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta">{{to_user}}
            </a>
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Heading End -->

        <!-- Message Box -->
        <div class="row message" id="conversation" *ngIf="chat_box.length">

          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
                Show Previous Message!
              </a>
            </div>
          </div>

          <div class="row message-body"  *ngFor = "let chat of chat_box">
            <div class="col-sm-12 message-main-receiver">
              <div class="receiver"  *ngIf="chat.to_user == user">
                <div class="message-text">
                    {{chat.msg}}
                </div>
                <span class="message-time pull-right">
                    {{chat.date}}
                </span>
              </div>
              <div class="sender"  *ngIf="chat.from_user == user">
                <div class="message-text">
                    {{chat.msg}}
                </div>
                <span class="message-time pull-right">
                    {{chat.date}}
                </span>
              </div>
            </div>
          </div>

          <!-- <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  Thanks n I know its awesome...!
                </div>
                <span class="message-time pull-right">
                  Sun
                </span>
              </div>
            </div>
          </div> -->
        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->
        <div class="row reply"  *ngIf="chat_box.length">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"  name="msg" [(ngModel)]="msg"></textarea>
          </div>
          <!-- <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div> -->
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true"  (click)="submit()"></i>
          </div>
        </div>
        <!-- Reply Box End -->
      </div>
      <!-- Conversation End -->
    </div>
    <!-- App One End -->
  </div>

  <!-- App End -->
</body>

<script>
  $(".heading-compose").click(function () {
    $(".side-two").css({
      "left": "0"
    });
  });

  $(".newMessage-back").click(function () {
    $(".side-two").css({
      "left": "-100%"
    });
  });

</script>



</html>